body{
    background-color: lightblue;
    display: flex;
    margin: auto;
    height: 100vh;
}
header{
    color: green;
}

.praise{
    display: flex;
    margin: auto;
    justify-content:left;
    align-items: left;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 50vh;
    width: 40%;
}
form{
    padding: 5px;
}
input{
    padding: 4px;
    font-size: 20px;
    border-radius: 8px;
    margin: 5px;
    width: 100%;   
}

.submit{
    color:white;
    background-color: green;
    margin: 4px;
    border-radius: 8px;
    padding: 8px;
    width: 60%;
}